.outer-container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.tables-container {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    margin: auto;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.no-orders {
    margin-left: 12%;
    margin-top: 15%;
    font-size: 150%;
}


.review-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.check-inner-container {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    position: relative;
    margin: auto;
    top: 10%;
    width: 90%;
    height: 75%;
    border-radius: 8px;
    background-color: lightgray;
}

.check-headers {
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
    top: .5%;
    display: flex;
    flex-direction: row;
    z-index: 0;
}

.check-header1 {
    position: relative;
    left: 1%;
    top: 1%;
    height: 80%;
    margin-top: .5%;
    padding: 9px;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
}

.check-header2 {
    position: relative;
    left: 3%;
    margin-top: .8%;
    text-decoration: underline;
    cursor:default
}

.check-header3 {
    position: relative;
    left: 23%;
    margin-top: 2.2%;
    font-weight: bold;
    margin-bottom: 0;
    font-size: 150%;
}

.moving-screen {
    z-index: 999;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: lightgray;
    opacity: .7;
    margin: 0;
    padding: 0;
    pointer-events: none;
}

.moving-msg {
    position: absolute;
    bottom: 1%;
    font-size: 200%;
    left: 30%;
    z-index: 1000;
    cursor: default;
}

.backgrounded {
    background-color: red;
}

.check-order-box {
    width: 90%;
    padding: 2%;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 6%;
}