.guest-container {
    width: 80%;
    height: 80%;
    border: 1px solid black;
    padding: 0;
    margin: 5% 5% 0 5%;
    border-radius: 5px;
}

.bolden {
    font-weight: bold;
}

.orders-container {
    position: relative;
    top: 2%;
    left: 4.5%;
    width: 90%;
    height: 88%
}

.orders-container:hover {
    cursor: pointer;
}

.list-item {
    margin: 0;
    margin-bottom: 10px;
}


.delete-guest {
    color: red;
    margin: 0 0 0 90%;
    border-radius: 5px;
    padding: 4px;
}

.delete-guest:hover {
    color: maroon;
    cursor: pointer;
}