.cancel-button {
    z-index: 1000;
    position: absolute;
    top: 1%;
    right: 1%;
    color: red;
    cursor: pointer;
    border: none;
    height: 7%;
    background-color: #e0dcdc;
}

.cancel-button:hover {
    color: maroon;
}

.text-space {
    z-index: 1000;
    opacity: 1;
    position: absolute;
    width: 30%;
    height: 20%;
    top: 35%;
    left: 35%;
    font-size: 125%;
}

.text-space:focus {
    outline: none;
}

.submitting {
    z-index: 1000;
    position: absolute;
    top: 55.8%;
    left: 35%;
    width: 30.4%;
    height: 5%;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
}